<?xml version = '1.0' encoding = 'ISO-8859-1'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSP files</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/reloader.jsp</url-pattern>
      <url-pattern>/oracle.gif</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Anyone</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <!--<auth-method>BASIC</auth-method>-->
    <auth-method>CLIENT-CERT,FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>Anyone</role-name>
  </security-role>
</web-app>
